html
    head
        script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(type='text/javascript', src="http://code.highcharts.com/highcharts.js")
        script(type='text/javascript', src="http://code.highcharts.com/modules/exporting.js")
        script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
        link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel="stylesheet")
        title=title
    body
    each val in showdate
        ul#dropdown1(class="dropdown-content")
            each pow in ["power2","power"]
                li
                    a#start(class="data black-text" data-minute="10" data-topic=pow data-all=val) #{pow} 10minute
                li
                    a(class="data black-text" data-minute="20" data-topic=pow data-all=val) #{pow} 20minute
                li
                    a(class="data black-text" data-minute="50" data-topic=pow data-all=val) #{pow} 1hour






    nav
        .nav-wrapper(class="blue-grey")
            a(href="#" data-activates="mobile-demo" class="button-collapse blue-grey")
                i.material-icons menu
            ul(class="left hide-on-med-and-down")

                li
                    a(href='/') HOME
                each val in showdate
                    li
                        a(class="dropdown-button" data-activates="dropdown1") #{val}
            ul#mobile-demo(class="side-nav blue-grey")
                ul.collapsible(data-collapsible='accordion')
                    li
                        a(href='/' class=" white-text") HOME
                    each val in showdate
                        li(class=" blue-grey")
                            .collapsible-header #{val}
                            .collapsible-body
                                each pow in ["power2","power"]
                                    a#start(class="data" data-minute="10" data-topic=pow data-all=val) #{pow} 10 minutes
                                    a(class="data" data-minute="20" data-topic=pow data-all=val) #{pow} 20 minutes
                                    a(class="data " data-minute="50" data-topic=pow data-all=val) #{pow} 50 minutes




    div#container(style="min-width: 500px; height: 500px; margin: 20 auto")

    script.
        $( document ).ready(function(){

            $(".button-collapse").sideNav();
        })
    script.

        $('.data').click(function(){
            $('.dropdown-content.active').removeClass('active');
            $('.dropdown-button.active').removeClass('active');
            $('#container').empty();
            $.ajax({
                method: "GET",
                url: "/ajax",
                data: { name: $(this).data("minute"),topic: $(this).data("topic"), all: $(this).data("all")}
            })
            .done(function( msg ) {
                console.log(msg.time);
                $('#container').highcharts({
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Wh every '+msg.reqx+' minutes'
                    },
                    subtitle: {
                        text: msg.date
                    },
                    xAxis: {
                        categories: msg.time
                    },
                    yAxis: {
                        title: {
                            text: 'Watt/hour'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: 'Wh',
                        data: msg.message
                    }]
                });
            });    
        });

        $('#start').click()
